/* ==================  Events Part Start  ================== */
#events {
    .common_head {
        padding-bottom: 30px;
    }

    .events_bg {
        padding: 50px 0;

        &::after {
            background: rgba(0, 0, 0, 0.9);
        }

        .events_slider {
            .row {
                display: flex;
                flex-wrap: wrap;

                .events_text {
                    h2 {
                        font-size: 16px;
                        color: #fff;
                        text-transform: uppercase;
                        padding-bottom: 6px;
                    }

                    h4 {
                        font-size: 13px;
                        font-weight: 400;
                        color: #ddd;

                        i {
                            font-size: 13px;
                            color: $hover;
                            padding-right: 5px;
                        }
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: #ddd;
                        line-height: 22px;
                        padding: 22px 0;
                    }

                    h6 {
                        font-size: 14px;
                        font-weight: 400;
                        color: #fff;
                        padding-bottom: 30px;

                        span {
                            padding-left: 15px;
                        }
                    }

                    ul {
                        li {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 70px;
                            color: $hover;
                            background: #fff;
                            font-size: 16px;
                            margin: 0 15px;

                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }

                }
            }

            .events_next,
            .events_prev {
                position: absolute;
                top: 50%;
                width: auto;
                transform: translateY(-50%);
                font-size: 40px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: $hover;
                }
            }

            .events_prev {
                left: -35px;
                z-index: 2;
            }

            .events_next {
                right: -35px;
                z-index: 2;
            }
        }

    }
}
/* ==================  Events Part End  ================== */